<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace映射文件的namespace必须等于Mapper映射器的全限定名 -->
<mapper namespace="com.valiantor.dao.QuestionDao">

    <!--    <resultMap type="com.valiantor.entity.Admin" id="adminMap">
            <result column="a_id" property="aId"/>
            <result column="password" property="password"/>
        </resultMap>-->

    <insert id="addQuestion" parameterType="com.valiantor.entity.Question">
        insert into question(question_description,test_point,choice_a,choice_b,choice_c,choice_d,choice_e,correct_option,answer_analysis,experience_value,l_no)
        values (#{question.questionDescription},#{question.testPoint},#{question.choiceA},#{question.choiceB},#{question.choiceC},#{question.choiceD},#{question.choiceE},#{question.correctOption},#{question.answerAnalysis},#{question.experienceValue},#{question.lNo})
    </insert>

    <update id="updateQuestion" parameterType="com.valiantor.entity.Question">
        update question
        set question_description=#{question.questionDescription},test_point=#{question.testPoint},
            choice_a=#{question.choiceA},
            choice_b=#{question.choiceB},choice_c=#{question.choiceC},choice_d=#{question.choiceD},
            choice_e=#{question.choiceE},correct_option=#{question.correctOption},
            answer_analysis=#{question.answerAnalysis},experience_value=#{question.experienceValue},
            l_no=#{question.lNo}
        where q_no=#{question.qNo}
    </update>


    <select id="findQuestionByQNoList" resultType="com.valiantor.entity.Question" parameterType="java.util.List">
        select * from question
        where q_no in
        <foreach collection="qNoList" index="index" item="qNo" separator="," open="(" close=")">
            #{qNo}
        </foreach>
    </select>
    <select id="findQuestionByQNo" resultType="com.valiantor.entity.Question" parameterType="int">
        select * from question
        where q_no = #{qNo}
    </select>
    <select id="findAllQuestionBylNo" resultType="com.valiantor.entity.Question">
        select * from question
        where l_no = #{lNo}
    </select>

    <select id="findQuestionPageBylNo" resultType="com.valiantor.entity.Question">
        select * from question
        where l_no = #{lNo}
        limit #{offset},#{numPerPage}
    </select>
    <select id="findQuestionFromDB" resultType="com.valiantor.entity.Question">
        select * from question
        where l_no is null
        limit #{offset},#{numPerPage}
    </select>

    <update id="deleteQuestionFromLevel"  parameterType="int">
        update question
        set l_no = null
        where q_no = #{qNo}
    </update>



    <!-- purchase(p_no, title, content, type, publish_date, end_date, c_no, s_id)
            goods(g_no, name, price, participator_path, p_no)
    -->
    <!-- <insert id="publishPurchase" parameterType="kui.cams.entity.Purchase" useGeneratedKeys="true" keyProperty="p_no">
         insert into purchase(title, content, type, publish_date,end_date,c_no, s_id)
         values(#{title},#{content},#{type},#{publish_date},#{end_date},#{c_no},#{s_id})
     </insert>

     <delete id="deletePurchaseByP_no" parameterType="int">
         delete from purchase
         where p_no = #{p_no}
     </delete>


     <select id="findPurchaseByC_no" resultType="kui.cams.entity.Purchase" parameterType="String">
         select * from purchase
         where c_no = #{c_no}
         order by p_no desc
     </select>

     <select id="findInPurchaseByC_no" resultType="kui.cams.entity.Purchase" parameterType="String">
         select * from purchase
         where c_no = #{c_no}
         and end_date > now()
         order by publish_date desc
     </select>

     <select id="findPurchaseByP_no" resultType="kui.cams.entity.Purchase" parameterType="int">
         select * from purchase
         where p_no = #{p_no}
     </select>

     <select id="findPurchaseByS_id" resultType="kui.cams.entity.Purchase" parameterType="String">

         select * from purchase
         where s_id = #{s_id}
         order by p_no desc
     </select>
 -->



</mapper>